#Nolan-Arenado {
    height: 10%;
    width: 70%;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

.indented {
     text-indent: 2.0em;
}

body {
    display: block;
    margin: 8px;
    text-align: center;
    font-size: large;
}

.column {
    float: left;
    width: 25%;
}

.column1 {
    float: left;
    width: 16.66%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}